table {
  border-collapse: collapse;
  table-layout: auto;
  width: max-content; 
  background-color: #AAC4FF;
  margin:10vh 28vw;
  
}

th, td {
  border: 1px solid #bbb;
  padding: 7px 16px;
  text-align: right;
  white-space: normal;       
}

th {
  color: #939edb;
  text-shadow: 1px 1px 0px #4e64e0;
}

tbody td {
  border-bottom: 3px solid rgb(212, 245, 245);
}
